.project-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.project-list {
    border-right: 1px solid var(--mid);
    min-width: 200px;
    height: calc((100vh - 105px) - calc(var(--pad) * 4));
    overflow-x: visible;
    overflow-y: scroll;
}

.project-list li { 
    width: 100%;
}

.project-list li:not(:first-child) {
    margin-top: 5px;
}

.project-list li:hover {
    padding-left: 3px;
}

.project-list li.active {
    font-weight: bold;
    padding-left: 5px;
}

::-webkit-scrollbar {
    width: 3px;
    /* border: 10px solid #f1f1f1; */
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #0000;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #0000;
    border-right: 10px solid #fff;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project-content-container {
    width: 100%;
    padding-left: 20px;
    margin-top: -4px;
    line-height: 1.7;
    font-weight: 100;
}

.project-content {
    margin-top: -20px;
}

.project-content .image-row {
    height: 300px;
    overflow: hidden;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.project-content .image-row-item {
    height: 100%;
}

.project-content .image-row-item img {
    height: 100%;
    object-fit: cover;
}