:root {
    --bg: hsl(0, 0%, 5%);
    --txt: hsl(0, 0%, 95%);
    --mid: hsl(0, 0%, 50%);
    --pad: max(20px, 4vmin);
}

@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica-Oblique.ttf);
    font-style: italic;
}
@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica-BoldOblique.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Helvetica;
    src: url(../assets/fonts/Helvetica\ Light\ Regular.otf);
    font-weight: 100;
}

.fade-enter-active, .fade-leave-active {
    transition: .3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

body {
    color: var(--txt);
    background: var(--bg);
    font-family: Helvetica;
}

body::-webkit-scrollbar {
    display: none;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-anim {
    animation: none !important;
}

.main-container {
    width: 100%;
    height: 100vh;
    
    padding: var(--pad);
}

.main-wrapper {
    outline: 1px solid var(--mid);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-text {
    position: absolute;
    top: var(--pad);
    left: var(--pad);
    margin: 0;
    padding: 0;
}

.menu-container {
    display: flex;
    column-gap: 10px;
}

.mini-title-container {
    position: relative;
}

.mini-title {
    font-size: 43px;
    width: fit-content;
    position: absolute;
    top: var(--pad);
    left: calc(var(--pad) + 200px);
    margin-left: 17px;
    text-align: left;
    line-height: .9;
    width: 0;
}

.main-title {
    font-size: 9vw;
    pointer-events: none;
    letter-spacing: 0.2vw;
    line-height: .9;
    overflow: hidden;
    animation: type 0.5s steps(7, end);
}

.fade-enter-active .main-title, .fade-leave-active .main-title {
    transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
    animation: type2 0.5s steps(7, end) reverse;
}

@keyframes type { from { width: 0; } to { width: 100%; } }
@keyframes type2 { from { width: 0; } to { width: 100%; } }

.main-text ul {
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    width: 200px;

    padding-left: 5px;
    list-style: none;
}

.main-text ul a {
    all: unset;
    cursor: pointer;
}

.main-text li {
    transition: 1s cubic-bezier(0.5, 1, 0.89, 1);
}
.main-text li:hover {
    opacity: 0.2;
}

.side-text {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    position: absolute;
    bottom: calc(var(--pad) - .5px);
    left: calc(var(--pad) - 0px);
    color: var(--mid);
}

.side-text2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
    transform-origin: bottom left;
    position: absolute;
    top: calc(var(--pad) - 15px);
    right: calc(var(--pad) - 1px);
    color: var(--mid);
}

.main-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    min-width: 100%;
    min-height: 100%;
    filter: brightness(.3) contrast(0.92) blur(3px);
}

.view-container {
    position: relative;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    height: calc((100vh - 75px) - calc(var(--pad) * 4));
    width: calc(100vw - calc(var(--pad) * 4));
    padding-right: 4px;
    overflow: auto;
    margin-top: 30px;
    overflow-x: hidden;
}

.subtitle {
    position: absolute;
    bottom: var(--pad);
    right: var(--pad);
    text-align: right;
    font-weight: 100;
    letter-spacing: 1px;
    width: 200px;
}

.contact-item {
    filter: invert(1);
    margin-left: 215px;
}

.contact-item img {
    width: 20px;
}