.title-container {
    width:50%;
    margin: 0 auto;
    transform: scale(1.5);
    margin-top: 25vh;
    position: relative;
    text-align: center;
    transition: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    user-select: none;
    position:relative;;
    /* border: 1px solid #000; */
}

.title-container-active {
    margin-top: 15vh !important;
}

svg {
    overflow: visible;
    pointer-events: none;
}

.title {
    cursor: pointer;
    top:0;
    left:50%;
    transform: translate(-50%, -100%);
    position:absolute;
}
.subtitle {
    font-family: 'Merriweather', serif;
    color:black;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position:absolute;
}

ul {
    list-style: none;
    padding: 0;
}

.subtitle ul {
    white-space: nowrap;
    font-size: 16px;
    margin: 0 auto;
}

.subtitle li {
    cursor: pointer;
    transform: skew(-10deg, 0deg) translate(0, 0);
    font-style: italic;
    margin: 0 30px;
    transition: 0.1s cubic-bezier(0.33, 1, 0.68, 1);
    display: inline-block;
    border-bottom: 1px solid #0000;
}

.subtitle li:hover {
    transform: skew(-12deg, 0deg) translate(0, 1px);
}

.subtitle .tab-active {
    border-bottom: 1px solid;
    transform: skew(-12deg, 0deg) translate(0, 1px);
}

.title-graphic {
    pointer-events: none;
    mix-blend-mode: multiply;
    position: absolute;
    width: 300px;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -60%);
}

.view-container {
    position: relative;
}

.view {
    position: absolute;
    width: 700px;
    top:0;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    border-radius: 10px;
    box-shadow:
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
        100px 100px 80px rgba(0, 0, 0, 0.07);

    background-color: #fff;
    margin-top: 20%;
    margin: 0 auto;
    height: 20em;
}

.view .view-title { margin:5px 10px; position:absolute; top:0; left:0; }

.featured-projects-container { margin-top: 2em; }
.featured-projects-container h4 {
    font-weight: normal;
}

.hidden { display: none; }

.featured-projects {
    column-gap: 10px;
    display: flex;
    height: 100%;
}

.featured-project {
    background-color: #eee;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    flex: 1;
}

.featured-project-edge {
    /* filter: blur(2px); */
    transition: 0.1s cubic-bezier(0.33, 1, 0.68, 1);
    height:100%;
}
/* 
.featured-project-edge:hover {
    filter: blur(0px);
} */

.featured-project-overlay {
    background: linear-gradient(135deg, #4b0300, #6e210e, #904012, #af6114, #ca8515, #e1ab1a, #f3d428, #feff3f);    position: absolute;
    opacity: 1;    
    width: 100%;
    height: 100%;
    /* mix-blend-mode: multiply; */
     mix-blend-mode: overlay; 
    /* mix-blend-mode: overlay; */
    /* mix-blend-mode: hard-light; */
    /* mix-blend-mode: color-dodge; */
    transition: 0.1s cubic-bezier(0.33, 1, 0.68, 1);

}

.featured-project-overlay:hover {
    opacity: 0;
}

.featured-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-project-caption {
    padding: 5px 10px;
    padding-right: 30px;
    background: linear-gradient(90deg, #0008, #0008, #0008, #0008, #0006, #0000);
    transform: skew(40deg, 0deg);
    bottom: 0;
    left: -10px;
    position: absolute;
}
.featured-project p {
    font-family: 'Merriweather', serif;
    margin: 0;
    margin-left: 8px;
    color: white;
    text-transform: lowercase;
    /* background-color: black; */
    transform: skew(-40deg, 0deg);
}

#projects-view-container {
    width: 900px;
    height: fit-content;
    margin-top: -20px;
}

.projects-row {
    height: 9em;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 5px;
}

.projects-filter-container {
    display: inline-block;
    width:100%;
    height: 2em;
    /* border: 1px solid #000; */
}

.projects-filter-container h3 { margin: 0; display: inline-block; }

.projects-filter-container .filter-tag {
    display: inline-block;
    background-color: #eee;
    color:black;
    margin: 0 5px;
    float: right;
    font-size: 11pt;
    border-radius: 10px;
    padding: 1px 7px;
    user-select:none;
    transition: .08s;
}

.filter-tag:hover { transform: translateY(2px); }

.filter-tag-active {
    background-color: #232323 !important;
    color:white !important;
}

.filter-tag-status {
    display: inline-block;
    width: 10px;
    margin-right: 6px;
    height: 10px;
    background-image: url(./✔️.jpg);
    
    background-size: cover;
    background-position: center center;
}
.filter-tag-active .filter-tag-status  {
    background-image: url(./❌.png);
    filter:invert(1)
}
.filter-tag-active:hover  {
    background-color: #cb5816 !important;
}

.projects-row:nth-child(n+2) { margin-top: 5px; }

.projects-row img {
    width:100%;
    object-fit: cover;
    transition: 0.1s;
}

.projects-row img:hover {
    transform: scale(1.03);
}

.project-row-item {
    border-radius: 4px;
    overflow:hidden;
    display:flex;
}

.fadeIn { animation: fadeIn 0.3s cubic-bezier(0.33, 1, 0.68, 1); }
.fadeOut { animation: fadeOut 0.3s cubic-bezier(0.33, 1, 0.68, 1); }

@keyframes fadeIn {
    0% { opacity: 0; transform: translate(-50%, 10%); }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}