<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/project.css">
    <link rel="stylesheet" href="./css/gallery.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <div class="main-container">
            <div class="main-wrapper">
                <video autoplay muted loop class="main-bg" ref="video" v-show="isPlaying">
                    <source src="../../assets/hero2.mp4" type="video/mp4">
                </video>
                <p class="subtitle no-select" v-show="isPlaying">"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et"</p>
                <h1 class="mini-title no-select" v-if="!isPlaying">JOVAN <wbr>BARTLETT</h1>
                <div class="main-text">
                    <div class="menu-container">
                        <ul class="nav-list no-select">
                            <li
                                v-for="route in $router.options.routes"
                                :key="route.path"
                            >
                                <router-link :to="route.path">
                                    {{route.name}}{{route.path === $router.currentRoute.path ? '*' : ''}}
                                </router-link>
                            </li>
                        </ul>
                    </div>
                    <transition name="fade">
                        <keep-alive>
                            <div class="view-container">
                            <router-view
                                class="view"
                                :style="{'margin-top': (!isPlaying ? '30px' : '0')}"
                            >
                                </router-view>
                            </div>
                        </keep-alive>
                    </transition>
                </div>
            </div>
        </div>
        <div class="side-text no-select">▞&emsp;power to the local dreamer</div>
        <div class="side-text2 no-select">&emsp;◢◣</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
    <script src="./js/app.js" type="module"></script>
</body>